<h4>Login: </h4>
<div class="card">
  <div class="card-body">
    <form action="/users/login" method="post">
      <label for="email"> Email: </label>
      <input type="email" class="form-control" name="email" required>
      <label for="password">Password: </label>
      <input type="password" class="form-control" name="password" required><br>
      <button class="btn btn-success" type="submit">Enter</button>
    </form>


  </div>
</div>