{{#each errs}}
<div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h3>Create your account: </h3>
<div class="card">
  <div class="card-body">
    <form action="" method="post">
      <label for="name"> Name: </label>
      <input type="text" name="name" class="form-control" required>
      <label for="email">Email: </label>
      <input type="email" name="email" class="form-control" required>
      <label for="password">Password: </label>
      <input type="password" name="password" class="form-control" required>
      <label for="password2">Confirm password</label>
      <input type="password" name="password2" class="form-control" required>
      <button type="submit" class="btn btn-success mt-4">Create Account</button>
    </form>
  </div>
</div>